<%- include('../partials/head.ejs') %>
<body class="articles">
      <%- include('../partials/header.ejs') %>
      <%- include('../partials/scroll.ejs') %>
      <div class="inner-container">
        <div class="text-center pb-5">
          <a class="btn btn-primary watch mx-3 px-3" href="/included">What's Included</a>  
          <a class="btn btn-primary watch mx-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>  
          <a class="btn btn-primary watch mx-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
          subject=Contact">Contact Us</a> 
        </div>
        <%- include('../partials/errorMessage.ejs') %>
        <%- include('../partials/headerArticles') %>
        <%- include('../partials/articleGrid', { articles: articles }) %>
      </div>

    <%- include('../partials/footer.ejs') %>


  
