<%- include('../partials/head.ejs') %>
<body class="photos">
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/scroll.ejs') %>
    <div class="inner-container">
      <div class="text-center pb-5">
        <a class="btn btn-primary watch mx-3 px-3" href="/included">What's Included</a>  
        <a class="btn btn-primary watch mx-3 px-3" href="/vidPresentation">Watch a Video Presentation</a>  
        <a class="btn btn-primary watch mx-3 px-3" href="mailto:lauri@lovelywebdesigns.com?
        subject=Contact">Contact Us</a> 
      </div>
      <%- include('../partials/errorMessage.ejs') %>
      <%- include('../partials/headerPhotos') %>
      <h2 class="page-header text-center mb-5">Album:  <%= album.name %></h2>
      <div class="btn-row btn-album">
        <% if(currentUser){ %>
          <a class="btn btn-primary" href="/albums/<%= album.id %>/edit">Edit</a>
          <%- include('../partials/deleteForm',
                      { url: `/albums/${album.id}` }) %>
        <% } %>
      </div>
      <% if (photosByAlbum.length > 0) { %>
        <%- include('../partials/photoGrid', { photos: photosByAlbum, small: true }) %>
      <% } %>
    </div>

<%- include('../partials/footer.ejs') %>